*{
    padding: 0;
    margin: 0;
}
.blocks{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block{
    background: white;
    height: 350px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    text-transform: uppercase;
    color: white;
    background: #000;
    background-color: black;
    border: 20px solid black;
    border-radius: 40px;
}
.buttons :hover{
    background: rgb(47, 248, 6);
    border: 15px solid rgb(47, 248, 6);
}