*{
    padding: 0;
    margin: 0;
}
.block{
    height: 440px;
    width: 880px;   
    background: linear-gradient(to bottom left, rgb(119, 116, 240), #c17cd3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.blocks{
    height: 700px;
    width: 100%;    
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    text-align: center;
    text-decoration: none;
    background-color: rgb(115, 150, 214);
    color: white;
    border-radius: 5px;
    font-size: 35px;
    border: 25px solid rgb(115, 150, 214);
    text-transform: uppercase;
    user-select: none;
    transition: all 1s;
}   

.buttons :hover{
    margin-top: 40px;
    box-shadow: 0px 10px 5px rgb(62, 65, 231);
}
