*{
    padding: 0;
    margin: 0;
}
.block{
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    user-select: none; 
    font-weight: bolder;
}
.buttons{
    display: flex;
    flex-direction: column;
}
.alpha-btn{
    text-transform: uppercase;
    border: 10px solid rgb(117, 250, 255);
    background: rgb(117, 250, 255);
    border-radius: 30px;
    color: blueviolet;
    font-weight: bolder;
    width: 160px;
    height: 40px;
    transition: all 1s

}
.alpha-btn-block :hover{
    color: rgb(117, 250, 255);
    border: 10px solid blueviolet;
    background: blueviolet;
}
.beta-btn{
    margin-top: 10px;
    text-transform: uppercase;
    border: 10px solid rgb(0, 162, 255);
    background: rgb(0, 162, 255);
    border-radius: 30px;
    color: rgb(50, 245, 50);
    font-weight: bolder;
    width: 160px;
    height: 40px;
    transition: all 1s

}
.beta-btn-block :hover{
    color: rgb(0, 162, 255);
    border: 10px solid rgb(50, 245, 50);
    background: rgb(50, 245, 50);
}
.gamma-btn{
    margin-top: 10px;
    text-transform: uppercase;
    border: 10px solid rgb(255, 251, 0);
    background: rgb(255, 251, 0);
    border-radius: 30px;
    color: rgb(226, 43, 98);
    font-weight: bolder;
    width: 160px;
    height: 40px;
    transition: all 1s

}
.gamma-btn-block :hover{
    color: rgb(255, 251, 0);
    border: 10px solid rgb(226, 43, 98);
    background: rgb(226, 43, 98);
}
.delta-btn{
    margin-top: 10px;
    text-transform: uppercase;
    border: 10px solid rgb(0, 255, 128);
    background: rgb(0, 255, 128);
    border-radius: 30px;
    color: rgb(226, 43, 180);
    font-weight: bolder;
    width: 160px;
    height: 40px;
    transition: all 1s
}
.delta-btn-block :hover{
    color: rgb(0, 255, 128);
    border: 10px solid rgb(226, 43, 180);
    background: rgb(226, 43, 180);
}